*::after, *::before, * {
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
}

.calculator {
  margin-top: 3rem;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: minmax(4rem, auto) repeat(4, 4rem);
  justify-content: center;
}

.calculator-output {
  grid-column: 1/-1;
  background-color: black;
}
